<ion-header>

    <ion-navbar>
        <ion-title>Sign Up</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <h1 text-center>
        <ion-icon class="auth-icon" name="person-add" color="primary"></ion-icon>
    </h1>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit(); $event.preventDefault()">

        <ion-item>
            <ion-icon name="person" item-left></ion-icon>
            <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-icon name="at" item-left></ion-icon>
            <ion-input type="text" placeholder="Username" formControlName="username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-icon name="mail" item-left></ion-icon>
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-icon name="lock" item-left></ion-icon>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>

        <br>
        <button ion-button full type="submit" [disabled]="signupForm.invalid">Create Account</button>

    </form>

</ion-content>